<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Liina Vatsa</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimine">
  <h1>Liina Vatsa</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
  <hr>
  <ul>
	<li><a href="/logout">Logi välja</a></li>
	<li><a href="/eestifilm">Eesti film</a></li>
	<li><a href="/addnews">Uudise lisamine</a></li>
	<li><a href="/gallery">Galerii</a></li>
	<li><a href="/photoupload">Lae üles galerii</a></li>
	
  </ul>
</body>
</html>