<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Liina Vatsa</title>
</head>
<body>
	<img src="Images/vp_banner_2024.png" alt="Veebiprogrammeerimine"
  <h1>Liina Vatsa</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
  <hr>
  <img src="../~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Tallinna Ülikooli Terra õppehoone peauks">
  <p>Mul käib sellel kursusel ka üks <a href="../~kertots"> sõber<a/>.<p/>
  
</body>
</html>